<div class="screen">
	<div class="slide" id="slide1">
		<%= image_tag('logo.png', class: 'logo') -%>
	</div>
	
	<div class="slide" id="slide2">
		<%= image_tag('01a.jpg', class: 'sample') -%>
		<div class="text">
			<span class="animate" data-order="1">Your guests.<br></span>
			<span class="animate" data-order="2">Our digital cameras.<br></span>
			<span class="animate" data-order="3">Instant fun.</span>
		</div>
	</div>
	
	<div class="slide" id="slide3">
		<div id="wireless">
			<%= image_tag('01b_thumbnail.jpg', class: 'sample', data: {order: 1}) -%>
			<%= image_tag('02b_thumbnail.jpg', class: 'sample', data: {order: 2}) -%>
			<%= image_tag('03b_thumbnail.jpg', class: 'sample', data: {order: 3}) -%>
			<%= image_tag('04b_thumbnail.jpg', class: 'sample', data: {order: 4}) -%>
			<%= image_tag('05b_thumbnail.jpg', class: 'sample', data: {order: 5}) -%>
			<%= image_tag('06b_thumbnail.jpg', class: 'sample', data: {order: 6}) -%>
			<%= image_tag('antenna.png',	class: 'antenna') -%>
		</div>
		<div id="cameras">
			<%= image_tag('camera.png',	class: 'camera', data: {order: 1}) -%>
			<%= image_tag('camera.png',	class: 'camera', data: {order: 2}) -%>
			<%= image_tag('camera.png',	class: 'camera', data: {order: 3}) -%>
			<%= image_tag('camera.png',	class: 'camera', data: {order: 4}) -%>
			<%= image_tag('camera.png',	class: 'camera', data: {order: 5}) -%>
			<%= image_tag('camera.png',	class: 'camera', data: {order: 6}) -%>
			<%= image_tag('flash.png',	class: 'flash') -%>
		</div>
		<div id="videoscreen">
			<%= image_tag('screen_video_screen.png', class: 'video') -%>
			<%= image_tag('screen_video_tube.png', class: 'tube') -%>
		</div>
		<div id="slideshow">
			<%= image_tag('01b.jpg', class: 'sample', style: 'top: -20px;') -%>
			<%= image_tag('02b.jpg', class: 'sample', style: 'top: -10px;') -%>
			<%= image_tag('03b.jpg', class: 'sample', style: 'top: -90px;') -%>
			<%= image_tag('04b.jpg', class: 'sample', style: 'top: -70px;') -%>
			<%= image_tag('05b.jpg', class: 'sample', style: 'top: -20px;') -%>
			<%= image_tag('06b.jpg', class: 'sample', style: 'top: -20px;') -%>
		</div>
		<div class="text">
			<span class="animate" data-order="1">Digital cameras.<br></span>
			<span class="animate" data-order="2">Wireless magic.<br></span>
			<span class="animate" data-order="3">Live slideshow.</span>
		</div>
	</div>

	<div class="slide" id="slide4">
		<%= image_tag('logo.png', class: 'logo') -%>
		<div class="text">
			<span class="animate" data-order="1">Your event.<br></span>
			<span class="animate" data-order="2">Your guests.<br></span>
			<span class="animate" data-order="3">Everyone's pictures.</span>
		</div>
	</div>	
</div>

<%= javascript_tag do -%>
	$(document).ready(function() {
		//display_slide(1, true);
		$('#slide1 .logo').on('load', function(){display_slide(3, false);});
	});
<%- end -%>