<div class="screen">
	<div class="slide" id="slide1">
		<%= image_tag('logo.png', class: 'logo') -%>
	</div>
	
	<div class="slide" id="slide2">
		<%= image_tag('01a.jpg', class: 'sample') -%>
		<div class="text">
			<span class="animate" data-order="1">Your guests.<br></span>
			<span class="animate" data-order="2">Our digital cameras.<br></span>
			<span class="animate" data-order="3">Instant fun.</span>
		</div>
	</div>
	
	<div class="slide" id="slide3">
		<div id="camera">
			<%= image_tag('01a.jpg', class: 'sample') -%>
		</div>
		<div id="screen">
			<%= image_tag('screen_video_screen.png', class: 'video') -%>
			<%= image_tag('screen_video_tube.png', class: 'tube') -%>
		</div>
		<div id="slideshow">
			<%= image_tag('01b.jpg', class: 'sample') -%>
			<%= image_tag('02b.jpg', class: 'sample') -%>
			<%= image_tag('03b.jpg', class: 'sample') -%>
			<%= image_tag('04b.jpg', class: 'sample') -%>
			<%= image_tag('05b.jpg', class: 'sample') -%>
			<%= image_tag('06b.jpg', class: 'sample') -%>
		</div>
		<div class="text">
			<span class="animate" data-order="1">Our digital cameras.<br></span>
			<span class="animate" data-order="2">Wireless magic.<br></span>
			<span class="animate" data-order="3">Live slideshow.</span>
		</div>
	</div>

	<div class="slide" id="slide4">
		<%= image_tag('logo.png', class: 'logo') -%>
		<div class="text">
			<span class="animate" data-order="1">Your event.<br></span>
			<span class="animate" data-order="2">Your guests.<br></span>
			<span class="animate" data-order="3">Everyone's pictures.</span>
		</div>
	</div>	
</div>

<div style="display: none;">
	<h1>Table cameras for this century</h1>

	<p>
		Camera technology has come a long way since the modern disposable table camera was introduced in 1986.<br>
		Despite these advances, disposable table cameras have barely evolved over the past 30 years.
	</p>

	<p>
		That's where we come in!<br>
		We provide high-quality digital point-and-shoot table cameras for your guests to use during your event.
	</p>

	<p>
		And because the cameras are digital, we can do lots of fun things that aren't possible with disposable table cameras.<br>
		&mdash; Give you all the pictures, from all our cameras, that day!<br>
		&mdash; Wireless transmit the pictures to a live slideshow during your event!<br>
		&mdash; Make it easy for your guests to get the pictures after your event!
	</p>

	<p>
		A quickie comparison:
	</p>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>disposable table camera</th>
				<th>Snap Show Magic camera</th>
			</tr>
		</thead>
		<tbody>
			<tr class="odd">
				<th># of pictures</th>
				<td>about 20</td>
				<td>over 500</td>
			</tr>
			<tr class="even">
				<th>autofocus</th>
				<td>no</td>
				<td>yes</td>
			</tr>
			<tr class="odd">
				<th>built-in flash</th>
				<td>sometimes (at extra cost)</td>
				<td>always</td>
			</tr>
	<%- if false -%>
			<tr>
				<th>LCD screen<br>to review photos</th>
				<td>no</td>
				<td>yes</td>
			</tr>
	<%- end -%>
			<tr class="even">
				<th>live slideshow</th>
				<td>not a chance</td>
				<td>standard</td>
			</tr>
			<tr class="odd">
				<th>getting your pictures</th>
				<td>
					Sometime after your event:<br>
					<ul>
						<li>go to 1-hour photo</li>
						<li>wait 1 hour (or more)</li>
						<li>
							pay $$<br>
							<em>(and throw away all the blank pictures)</em>
						</li>
					</ul>
				</td>
				<td>
					During your event:<br>
					<ul>
						<li>have fun</li>
						<li>mingle with your guests</li>
						<li>
							receive a disk with all the pictures<br>
							<em>(you get all your pictures, then and there!)</em>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>