<!DOCTYPE html>
<html>
	<head>
		<title>Snap Show Magic</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<%- if false -%>
			<!-- Move this somewhere else, after page structure has been firmly established --%>
			<div id="user_nav">
				<%- if current_user -%>
					Logged in as <%= current_user.email -%>.
					<%= link_to "Log out", log_out_path -%>
				<%- else -%>
					<%= link_to "Sign up", sign_up_path -%> or
					<%= link_to "log in", log_in_path -%>
				<%- end -%>
			</div>
		<%- end -%>

		<div id="head">
			<div class="container">
				<div class="banner">
					<%= link_to(image_tag('logo.png', class: 'image'),
											root_path) -%>
					<div class="text">
							<span class="animate" data-order="1">Your event.<br></span>
							<span class="animate" data-order="2">Your guests.<br></span>
							<span class="animate" data-order="3">Everyone's memories.</span>
					</div>
				</div>
				<div class="menu">
					<%= link_to('Home',					home_path,					{class: "#{@selected_menu_item=='home'					? 'selected' : nil}"}) -%>
					<%= link_to('Contact',			contact_path,				{class: "#{@selected_menu_item=='contact'				? 'selected' : nil}"}) -%>
					<%= link_to('Testimonials',	'testimonials_path',	{class: "#{@selected_menu_item=='testimonials'	? 'selected' : nil}"}) -%>
					<%= link_to('F.A.Q.',				faq_path,						{class: "#{@selected_menu_item=='faq'						? 'selected' : nil}"}) -%>
					<%#= link_to('Pricing',			pricing_path,				{class: "#{@selected_menu_item=='pricing'				? 'selected' : nil}"}) -%>
					<%= link_to('Galleries',		galleries_path,			{class: "#{@selected_menu_item=='galleries'			? 'selected' : nil}"}) -%>
					<%= link_to('About',				about_path,					{class: "#{@selected_menu_item=='about'					? 'selected' : nil}"}) -%>
				</div>
			</div>
		</div>

		<div id="body">
			<div class="container">
				<%- flash.each do |name, msg| -%>
					<%= content_tag(:div, msg, :id => "flash_#{name}") -%>
				<%- end -%>

				<%- if notice -%>
					<p id="notice"><%= notice %></p>
				<%- end -%>

				<%#= debug(params) -%>

				<%= yield -%>
			</div>
		</div>

		<div id="foot">
			<div class="container">

			</div>
		</div>


	</body>
</html>
