<!DOCTYPE html>
<html>
	<head>
		<title>Snap Show Magic</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAQjfvg0NpXn16v6zE8yHBhxOddbmJtt3M' -%>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<%- if User.current_user -%>
			<div id="appetizer">
				<div class="container">
					<div id="user_nav">
						Logged in as <%= User.current_user.name -%>.
						<%= link_to "Log out", log_out_path -%>
					</div><!-- #user_nav --!>
				</div><!-- .container --!>
			</div><!-- #appetizer --!>
		<%- end -%>

		<div id="main">
			<div id="head">
				<div class="container">
					<div class="menu">
						<%= link_to('Home',					root_path,					{class: "#{@selected_menu_item=='home'					? 'selected' : nil}"}) -%>
						<%= link_to('About',				about_path,					{class: "#{@selected_menu_item=='about'					? 'selected' : nil}"}) -%>
						<%= link_to('Contact',			contact_path,				{class: "#{@selected_menu_item=='contact'				? 'selected' : nil}"}) -%>
						<%= link_to('Testimonials',	testimonials_path,	{class: "#{@selected_menu_item=='testimonials'	? 'selected' : nil}"}) -%>
						<%= link_to('F.A.Q.',				faq_path,						{class: "#{@selected_menu_item=='faq'						? 'selected' : nil}"}) -%>
						<%= link_to('Galleries',		galleries_path,			{class: "#{@selected_menu_item=='galleries'			? 'selected' : nil}"}) -%>
						<%#= link_to('Pricing',			pricing_path,				{class: "#{@selected_menu_item=='pricing'				? 'selected' : nil}"}) -%>
						<%#= link_to('History',			history_path,				{class: "#{@selected_menu_item=='history'				? 'selected' : nil}"}) -%>
						<%#= link_to('Calendar',		calendar_path,			{class: "#{@selected_menu_item=='calendar'			? 'selected' : nil}"}) -%>
					</div><!-- .menu --!>
				</div><!-- .container --!>
			</div><!-- #head --!>

			<div id="body">
				<div class="container">
					<%- flash.each do |name, msg| -%>
						<%= content_tag(:div, msg, :id => "flash_#{name}") -%>
					<%- end -%>

					<%#= debug(params) -%>

					<%= yield -%>
				</div><!-- .container --!>
			</div><!-- #body --!>

			<div id="foot"></div>
		</div><!-- #main --!>

	</body>
</html>
