<p id="notice"><%= notice %></p>

<h1>Listing Admin Note Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Admin note</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_note_contacts.each do |admin_note_contact| %>
      <tr>
        <td><%= admin_note_contact.admin_note_id %></td>
        <td><%= admin_note_contact.contact_id %></td>
        <td><%= link_to 'Show', admin_note_contact %></td>
        <td><%= link_to 'Edit', edit_admin_note_contact_path(admin_note_contact) %></td>
        <td><%= link_to 'Destroy', admin_note_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note contact', new_admin_note_contact_path %>
