<p id="notice"><%= notice %></p>

<h1>Listing Admin Notes</h1>

<table>
  <thead>
    <tr>
      <th>Noteable type</th>
      <th>Noteable</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_notes.each do |admin_note| %>
      <tr>
        <td><%= admin_note.noteable_type %></td>
        <td><%= admin_note.noteable_id %></td>
        <td><%= admin_note.note %></td>
        <td><%= link_to 'Show', admin_note %></td>
        <td><%= link_to 'Edit', edit_admin_note_path(admin_note) %></td>
        <td><%= link_to 'Destroy', admin_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_admin_note_path %>
