<h1>Galleries</h1>

<dl class="galleries">
	<%- @galleries.each_with_index do |gallery, index| -%>
		<dt><%= link_to(raw([h(gallery.title), h(gallery.event_date.to_s)].join(' &mdash; ')), gallery.album_url) -%></dt>
		<%- if index < 5 -%>
			<%- 
				flashVars = [
					"AlbumID=#{gallery.smugmug_album_id}",
					"AlbumKey=#{gallery.smugmug_album_key}",
					"transparent=true",
					"bgColor=",
					"borderThickness=20",
					"borderColor=666666",
					"useInside=",
					"endPoint=",
					"mainHost=cdn.smugmug.com",
					"VersionNos=2013072402",
					"width=600",
					"height=600",
					"clickToImage=true",
					"captions=true",
					"showThumbs=true",
					"autoStart=#{index == 0 ? 'true' : 'false'}",
					"showSpeed=true",
					"pageStyle=white",
					"showButtons=true",
					"randomStart=true",
					"randomize=true",
					"splash=#{Rack::Utils.escape('http://www.smugmug.com/img/ria/ShizamSlides/smugmug_black.png')}",
					"splashDelay=0",
					"crossFadeSpeed=350"
				].join('&')
			-%>
			<dd>
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="600" height="600" id="ssidx">
					<param name="movie" value="http://cdn.smugmug.com/ria/ShizamSlides-2013072402.swf" />
					<param name="flashVars" value="<%= raw(flashVars) -%>" />
					<param name="wmode" value="transparent" />
					<param name="allowNetworking" value="all" />
					<param name="allowScriptAccess" value="always" />
					<embed
						src="http://cdn.smugmug.com/ria/ShizamSlides-2013072402.swf"
						flashVars="<%= raw(flashVars) -%>"
						width="600"
						height="600"
						wmode="transparent"
						type="application/x-shockwave-flash"
						allowScriptAccess="always"
						allowNetworking="all" >
					</embed>
				</object>
			</dd>
			<dd><%= link_to('View Slideshow', "http://snapshowmagic.smugmug.com/photos/swfpopup.mg?AlbumID=#{gallery.smugmug_album_id}&AlbumKey=#{gallery.smugmug_album_key}") -%></dd>
			<dd><%= link_to('View Gallery', gallery.album_url) -%></dd>
			<%- if false -%>
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="600" height="600" id="ssidx"><param name="movie" value="http://cdn.smugmug.com/ria/ShizamSlides-2013072402.swf" /><param name="flashVars" value="AlbumID=47593029&AlbumKey=kxn3Ls&transparent=true&bgColor=&borderThickness=&borderColor=&useInside=&endPoint=&mainHost=cdn.smugmug.com&VersionNos=2013072402&width=600&height=600&clickToImage=true&captions=true&showThumbs=true&autoStart=true&showSpeed=true&pageStyle=black&showButtons=true&randomStart=true&randomize=true&splash=http%3A%2F%2Fwww.smugmug.com%2Fimg%2Fria%2FShizamSlides%2Fsmugmug_black.png&splashDelay=0&crossFadeSpeed=350" /><param name="wmode" value="transparent" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><embed src="http://cdn.smugmug.com/ria/ShizamSlides-2013072402.swf" flashVars="AlbumID=47593029&AlbumKey=kxn3Ls&transparent=true&bgColor=&borderThickness=&borderColor=&useInside=&endPoint=&mainHost=cdn.smugmug.com&VersionNos=2013072402&width=600&height=600&clickToImage=true&captions=true&showThumbs=true&autoStart=true&showSpeed=true&pageStyle=black&showButtons=true&randomStart=true&randomize=true&splash=http%3A%2F%2Fwww.smugmug.com%2Fimg%2Fria%2FShizamSlides%2Fsmugmug_black.png&splashDelay=0&crossFadeSpeed=350" width="600" height="600" wmode="transparent" type="application/x-shockwave-flash" allowScriptAccess="always" allowNetworking="all" ></embed></object>

				<a href="http://snapshowmagic.smugmug.com/photos/swfpopup.mg?AlbumID=47593029&AlbumKey=kxn3Ls">View Slideshow</a>
				<a href="http://snapshowmagic.smugmug.com/Events/OC-Brides-Networking-Event-1/">View Gallery</a>			
			<%- end -%>
		<%- end -%>
	<%- end -%>
</dl>