<!DOCTYPE html>
<html>
	<head>
		<title>Snap Show Magic</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAQjfvg0NpXn16v6zE8yHBhxOddbmJtt3M' -%>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div id="head">
			<%= render(partial: 'layouts/menu_admin') if User.current_user -%>
			<%= render(partial: 'layouts/menu_site') unless !!(params[:controller] =~ /admin\//) -%>
		</div><!-- #head --!>

		<div id="body">
			<div class="container">
				<%- flash.each do |name, msg| -%>
					<%= content_tag(:div, msg, :id => "flash_#{name}") -%>
				<%- end -%>

				<%#= debug(params) -%>

				<%= yield -%>
			</div><!-- .container --!>
		</div><!-- #body --!>

		<div id="foot"></div>
	</body>
</html>
